{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base0F">@</span><span class="base08">m</span><span class="base09">a</span><span class="base0a">n</span><span class="base0b">d</span><span class="base0c">a</span><span class="base0d">l</span><span class="base05">a</span><span class="base0F">b</span><span class="base08">o</span><span class="base0a">t</span><span class="base0c">1</span><span class="base05">]</span>
  <span class="base05">#_</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Mandalas Personalizadas.
</div>

<div style="text-align: center;">
<a href="https://twitter.com/mandalabot1?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Siga @mandalabot1</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>